
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Site Under Construction</title>
</head>
<body>
    <div style="background-color:#f5f2f2; margin-top: 30px; border:solid 1px; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <img src="~/Content/dist/img/under-construction.jpg" />
    </div>
</body>
</html>
