################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Utility/bin
/DBOperation/bin
/DBOperation/obj
/.vs
