@{
    Layout = null;
    ViewBag.Title = "Dashboard";
    var currentUser = (ClientManager.Models.UserDetails)Session["UserDetails"];

}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BusinessTracker v1.0 | Dashboard</title>

    <!-- jQuery -->
    @*<script src="~/Content/plugins/jquery/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/Content/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button)</script>
    <!-- Bootstrap 4 -->
    <script src="~/Content/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="~/Content/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="~/Content/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="~/Content/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="~/Content/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/Content/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/Content/plugins/moment/moment.min.js"></script>
    <script src="~/Content/plugins/daterangepicker/daterangepicker.js"></script>


    <!-- Summernote -->
    <script src="~/Content/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="~/Content/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Content/dist/js/adminlte.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!--<script src="~/Content/dist/js/demo.js"></script>-->
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Content/plugins/fontawesome-free/css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bootstrap 4 -->
    <link rel="stylesheet" href="~/Content/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Content/plugins/icheck-bootstrap/icheck-bootstrap.min.css">


    <!-- JQVMap -->
    <link rel="stylesheet" href="~/Content/plugins/jqvmap/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Content/dist/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="~/Content/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/Content/plugins/daterangepicker/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="~/Content/plugins/summernote/summernote-bs4.min.css">
    <!-- sweetalert2 -->
    @*<link href="~/Content/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />*@

    <!-- DataTables -->
    <link rel="stylesheet" href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    @*<link href="~/Content/plugins/sweetalert2/sweetalert2.min.css" rel="stylesheet" />*@
    <!-- DataTables  & Plugins -->
    <script src="~/Content/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Content/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/plugins/jszip/jszip.min.js"></script>
    <script src="~/Content/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/Content/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/Content/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    @*<script src="~/Content/plugins/js/sweetalert2.min.js"></script>
        <script src="~/Content/plugins/sweetalert2/sweetalert2.min.js"></script>*@
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="~/Content/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <style>
        .card-footer {
            text-align: right !important;
        }

        body {
            font-size: 13px !important;
        }
    </style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">

        <!-- Preloader -->
        <div class="preloader flex-column justify-content-center align-items-center">
            <img class="animation__shake" src="~/Content/dist/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
        </div>

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    @if (currentUser.UserRoles.Any(a => a.RoleName == "Store Admin"))
                    {
                        <a href="~/home/FinanceDashboard" class="nav-link">Home</a>
                    }
                    else
                    {
                        <a href="~/home/MyDashboard" class="nav-link">Home</a>
                    }


                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    @*<a href="~/Contact/Index" class="nav-link">Contact</a>*@
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="~/Account/Logout" class="nav-link">Logout</a>
                </li>
                @*<li>
                           <button type="button" style="float: right; margin-top: 3px !important;" class="btn btn-block btn-warning btn-sm " onclick="javascript:fnRedirect('http://vrmstructures.in/stocks')"><i class="fa fa-mercury"></i> VRM Stocks</button>
                    </li>*@
                @*<li>
                        <button id="btnDownload" style="float: left; margin-top: 0px !important;" class="btn" onclick=""><i class="fa fa-download"></i> Download Product Brochure</button>
                    </li>*@
            </ul>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
                <li class="nav-item">
                    @*<a class="nav-link" data-widget="navbar-search" href="#" role="button">
                            <i class="fas fa-search"></i>
                        </a>*@
                    <div class="navbar-search-block">
                        <form class="form-inline">
                            <div class="input-group input-group-sm">
                                <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
                                <div class="input-group-append">
                                    <button class="btn btn-navbar" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </li>

                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    @*<a class="nav-link" data-toggle="dropdown" href="#">
                            <i class="far fa-comments"></i>
                            <span class="badge badge-danger navbar-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                            <a href="#" class="dropdown-item">
                         Message Start
                        <div class="media">
                            <img src="~/Content/dist/img/user1-128x128.jpg" alt="User Avatar" class="img-size-50 mr-3 img-circle">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Brad Diesel
                                    <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Call me whenever you can...</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                         Message End
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                         Message Start
                        <div class="media">
                            <img src="~/Content/dist/img/user8-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    John Pierce
                                    <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">I got your message bro</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                         Message End
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                         Message Start
                        <div class="media">
                            <img src="~/Content/dist/img/user3-128x128.jpg" alt="User Avatar" class="img-size-50 img-circle mr-3">
                            <div class="media-body">
                                <h3 class="dropdown-item-title">
                                    Nora Silvester
                                    <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">The subject goes here</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                            </div>
                        </div>
                         Message End
                        </a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                        </div>*@
                </li>
                <!-- Notifications Dropdown Menu -->
                <div id="notificationPnl"></div>

                <li class="nav-item">
                    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                        <i class="fas fa-expand-arrows-alt"></i>
                    </a>
                </li>
                @*<li class="nav-item">
                        <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button">
                            <i class="fas fa-th-large"></i>
                        </a>
                    </li>*@
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="~/Home/MyDashboard" class="brand-link">
                <img src="~/Content/dist/img/AdminLTELogo.png" alt="Business Tracker v1.0" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Business Tracker v1.0</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Content/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">@currentUser.FullName.ToUpper()</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
                @*<div class="form-inline">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-sidebar">
                                    <i class="fas fa-search fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </div>*@

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                        with font-awesome or any other icon font library -->
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                    Dashboards
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview">
                                @{
                                    if (currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "super admin") || currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "super user"))
                                    {
                                        <li class="nav-item">
                                            <a href="~/Home/MyDashboard" class="nav-link" id="mnuDashboard">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>My Sales</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="~/Home/AdminDashboard" class="nav-link" id="mnuAdminDashboard">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Team Sales</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="~/Home/FinanceDashboard" class="nav-link" id="mnuFinanceDashboard">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Petty Cash</p>
                                            </a>
                                        </li>
                                    }
                                    else if (currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "store admin") || currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "accounts manager"))
                                    {
                                        <li class="nav-item">
                                            <a href="~/Home/FinanceDashboard" class="nav-link" id="mnuFinanceDashboard">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Petty Cash Entry</p>
                                            </a>
                                        </li>
                                    }
                                    else if (currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "sales engineer"))
                                    {
                                        <li class="nav-item">
                                            <a href="~/Home/MyDashboard" class="nav-link" id="mnuDashboard">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>My Sales</p>
                                            </a>
                                        </li>
                                    }
                                    else if (currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "sales manager"))
                                    {
                                        <li class="nav-item">
                                            <a href="~/Home/MyDashboard" class="nav-link" id="mnuDashboard">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>My Sales</p>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="~/Home/AdminDashboard" class="nav-link" id="mnuAdminDashboard">
                                                <i class="far fa-circle nav-icon"></i>
                                                <p>Team Sales</p>
                                            </a>
                                        </li>
                                    }
                                }

                            </ul>


                        </li>
                        @*<li class="nav-header">ACTIVITY</li>*@
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-coins"></i>
                                <p>
                                    Petty Cash
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/PettyCashes/List" class="nav-link" id="mnuPettyCash">
                                        <i class="far fas fa-money-bill nav-icon"></i>
                                        <p>Cash Entry</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/ExpenseTrackers/List?dashboardFilter=Link" class="nav-link" id="mnuExpenceTracker">
                                        <i class="far fas fa-chart-area nav-icon"></i>
                                        <p>Cash Expense</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-shopping-cart"></i>
                                <p>
                                    Sales Management
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/SaleActivities/List?searchFrom=Link" class="nav-link" id="mnuSalesList">
                                        <i class="far fas fa-balance-scale"></i>
                                        <p>Sales</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-battery-half"></i>
                                <p>
                                    Stores Management
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Inward/GetStocks" class="nav-link" id="mnuStocks">
                                        <i class="far fas fa-arrow-alt-circle-up"></i>
                                        <p>Stocks</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Inward/List" class="nav-link" id="mnuInwardList">
                                        <i class="far fas fa-arrow-alt-circle-right"></i>
                                        <p>Inward Entry</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Outward/List" class="nav-link" id="mnuOutwardList">
                                        <i class="far fas fa-arrow-alt-circle-left"></i>
                                        <p>Outward Entry</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item" style="display: none;">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-sticky-note"></i>
                                <p>
                                    Quote
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/SaleActivities/List" class="nav-link">
                                        <i class="far fas fa-list nav-icon"></i>
                                        <p>List</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/SaleActivities/Create" class="nav-link">
                                        <i class="far fas fa-plus-circle nav-icon"></i>
                                        <p>New</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="nav-header">BILLING</li>*@
                        @*<li class="nav-item menu-is-opening menu-open" style="display: none; ">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-file-invoice"></i>
                                    <p>
                                        Invoice
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview" style="display: none; ">
                                    <li class="nav-item">
                                        <a href="~/SaleActivities/List" class="nav-link" id="mnuInvoiceList">
                                            <i class="far fas fa-list nav-icon"></i>
                                            <p>List</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="~/SaleActivities/Create" class="nav-link" id="mnuInvoiceNew">
                                            <i class="far fas fa-plus-circle nav-icon"></i>
                                            <p>New</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>*@
                        @if (currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "store admin") || currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "accounts manager") || currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "super user") || currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "super admin"))
                        {
                            @*<li class="nav-header">DOCUMENTS MANAGEMENT</li>
                                <li class="nav-item">
                                    <a href="~/Documents/List" class="nav-link" id="mnuDocumentList">
                                        <i class="far fas fa-list nav-icon"></i>
                                        <p>
                                            List
                                        </p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="~/Documents/Create" class="nav-link" id="mnuDocumentCreate">
                                        <i class="far fas fa-plus-circle nav-icon"></i>
                                        <p>
                                            Create
                                        </p>
                                    </a>
                                </li>*@
                        }
                        @*@if (currentUser.UserRoles.Any(wh => wh.RoleName == "Super Admin"))
                            {*@

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-user-lock"></i>
                                <p>
                                    Admin Control Panal
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Admin/User/List" class="nav-link" id="mnuUsers">
                                        <i class="nav-icon fas fa-users"></i>
                                        <p>
                                            Users
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Admin/Roles/List" class="nav-link" id="mnuRoles">
                                        <i class="nav-icon fas fa-user-tie"></i>
                                        <p>
                                            Roles
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Admin/UserRoles/Create" class="nav-link" id="mnuRoleMapping">
                                        <i class="nav-icon fas fa-user-graduate"></i>
                                        <p>
                                            Role Mapping
                                        </p>
                                    </a>
                                </li>
                            </ul>

                        </li>
                        @*}*@
                        @*<li class="nav-header">MASTERS</li>*@
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-database"></i>
                                <p>
                                    Masters
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/ExpenceCategories/List" class="nav-link" id="mnuExpenceCategory">
                                        <i class="nav-icon fas fa-chart-pie"></i>
                                        <p>
                                            Expense Categories
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Materials/List" class="nav-link" id="mnuMaterialList">
                                        <i class="far fas fa-anchor nav-icon"></i>
                                        <p>Material Types</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Types/List" class="nav-link" id="mnuTypeList">
                                        <i class="far fas fa-certificate nav-icon"></i>
                                        <p>Product Master</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Items/List" class="nav-link" id="mnuItemList">
                                        <i class="far fas fa-list nav-icon"></i>
                                        <p>Products</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="~/Companies/List" class="nav-link" id="mnuCompanyList">
                                        <i class="far fas fa-building nav-icon"></i>
                                        <p>Vendors</p>
                                    </a>
                                </li>
                            </ul>

                        </li>

                        @*<li class="nav-item">
                                <a href="#" class="nav-link" id="mnuClients">
                                    <i class="nav-icon fas fa-user-shield"></i>
                                    <p>
                                        Clients
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" id="mnuContacts">
                                    <i class="nav-icon fas fa-address-book"></i>
                                    <p>
                                        Contacts
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link" id="mnuProducts">
                                    <i class="nav-icon fas fa-file-invoice"></i>
                                    <p>
                                        Products
                                    </p>
                                </a>
                            </li>*@
                        @*@if (currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "store admin") || currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "accounts manager") || currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "super user") || currentUser.UserRoles.Any(wh => wh.RoleName.ToLower() == "super admin"))
                            {*@
                        @*<li class="nav-item">
                                <a href="~/ExpenceCategories/List" class="nav-link" id="mnuExpenceCategory">
                                    <i class="nav-icon fas fa-sort-amount-up"></i>
                                    <p>
                                        Expence Categories
                                    </p>
                                </a>
                            </li>*@
                        @*}*@
                        @*<li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-anchor"></i>
                                    <p>
                                        Client Management
                                    </p>
                                </a>
                            </li>*@
                        @*<li class="nav-header">REPORTS</li>*@
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-pie"></i>
                                <p>
                                    Reports
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>

                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="#" class="nav-link" id="mnuReport1">
                                        <i class="nav-icon fas fa-circle"></i>
                                        <p>
                                            Sales Report
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview" style="display: none; ">
                                <li class="nav-item">
                                    <a href="#" class="nav-link" id="mnuReport2">
                                        <i class="nav-icon fas fa-circle"></i>
                                        <p>
                                            Pettycash Report
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="~/reports/ExpenseTrackerReport" class="nav-link" id="mnuReport2">
                                        <i class="nav-icon fas fa-circle"></i>
                                        <p>
                                            Expense Tracker Report
                                        </p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        @*<li class="nav-header">MISCELLANEOUS</li>*@
                        @*<li class="nav-item">
                                <a href="iframe.html" class="nav-link">
                                    <i class="nav-icon fas fa-ellipsis-h"></i>
                                    <p>Tabbed IFrame Plugin</p>
                                </a>
                            </li>*@
                        @*<li class="nav-item">
                                <a href="https://adminlte.io/docs/3.1/" class="nav-link">
                                    <i class="nav-icon fas fa-book-open"></i>
                                    <p>Documentation</p>
                                </a>
                            </li>*@
                        @*<li class="nav-header">LABELS</li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-circle text-danger"></i>
                                    <p class="text">Important</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-circle text-warning"></i>
                                    <p>Warning</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon far fa-circle text-info"></i>
                                    <p>Informational</p>
                                </a>
                            </li>*@
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper.Contains page content -->
        @RenderBody()

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">

                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <!-- /.modal -->

        <div class="modal fade" id="modal-xl">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"></h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        @*<button type="button" class="btn btn-primary">Save changes</button>*@
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2014-2021 </strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0.0.0
            </div>
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jquery-validation -->
    <script src="~/Content/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/Content/plugins/jquery-validation/additional-methods.min.js"></script>
    @*<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>*@
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Content/dist/js/demo.js"></script>


    <!-- ChartJS -->
    <script src="~/Content/plugins/chart.js/Chart.min.js"></script>

    @*<script src="~/Content/plugins/sweetalert2/sweetalert2.min.js"></script>*@
    <!-- Toastr -->
    @*<script src="~/Content/plugins/toastr/toastr.min.js"></script>*@
<script>
        $('#btnDownload').click(function (e) {
            e.preventDefault();  //stop the browser from following
            window.location.href = '../../Content/VRMStructures-ProductBrochure.pdf';
        });
    if ($('#notificationPnl').html() == "") {
           $('#notificationPnl').load("../../shared/GetNotifications?userId=" + @currentUser.Id);
    };
        @*$(document).load(function () {
            $('#notificationPnl').load("../../shared/GetNotifications?userId=" + @currentUser.Id);
        });*@

        /*   $(document).ready(function () {*/
        function fnRedirect(url) {
            location.href = url;
        }
                //function fnMenuHighlight(currMenu) {
                //    currMenu.addClass("active");
                //    var parentMenu = currMenu.parent().parent().parent();
                //
                //    parentMenu.attr("class", "nav-item menu-is-opening menu-open");
                //    parentMenu.find("ul").each(function () {
                //
                //        $(this).attr("style", "display:block");
                //    });
                //}
        /*  });*/


</script>

</body>

</html>
